* {
    background-color: #191919;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 0px 5px;
}

h1 {
    font-size: 60px;
    margin-top: 70px;
}

h2 {
    font-size: 40px;
    /* margin-top: 70px; */
}

p {
    font-size: 17px;
    color: rgb(210, 208, 208);
    margin-bottom: 30px;
    line-height: 24px;
}

button {
    background: #3eb489;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 8px 10px;
    text-align: center;
}

.btn2 {
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 10px;
    text-align: center;
}

/* latest-info */
.secons-secion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.089);
}

.latest-info {
    box-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, .2);
    border: 1px solid hsla(0, 0%, 100%, .0784313725490196);
    padding: 17px 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.infos {
    margin-top: 20px;

}

.infos span {
    font-size: 15px;
    color: rgb(210, 208, 208);
}

.infos p {
    font-size: 30px;
    color: white;
    margin-top: -1px;
}

/* benefits */
.benefits {
    font-size: 20px;
    font-weight: 100;
    display: flex;
    align-items: center;
}

/* token */
.token-section {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 70px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.224);
}

.token-card {
    border: 1px solid rgba(128, 128, 128, 0.402);
    border-radius: 7px;
    padding: 0px 0px 20px 20px;
    width: 100%;
}

.token-card h4 {
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 10px;
    line-height: 24px;
}

.token-card span {
    font-size: 15px;
    color: rgb(210, 208, 208);
    margin-bottom: 15px;
    line-height: 24px;
    display: block;
}

.token {
    display: flex;
    align-items: center;
}

.token img {
    width: 45px;
}

.token p {
    color: white;
    font-size: 25px;
}

.token-button {
    display: flex;
    gap: 15px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.logoimg {
    width: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p {
    margin-top: 25px;
    font-size: 25px;
    margin-left: -15px;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.footerLogo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.footerLogo1 p {
    font-size: 13px;
}

.footerLogo img {
    width: 32px;
}

/* dashboard */
.state {
    display: flex;
    align-items: center;
}

.state-text {
    font-size: 15px;
    color: rgb(150, 149, 149);
    margin-bottom: 30px;
    line-height: 24px;
    margin-top: -20px;
}

/* total states */
.total-state {
    display: flex;
    align-items: center;
    gap: 15px;
}

.states-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span2 {
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
    line-height: 24px;
    border-bottom: 2px solid white;
    border-style: dashed;
}

.span1 {
    font-size: 15px;
    font-weight: 100;
    color: rgb(129, 129, 129);
    margin-bottom: 10px;
    line-height: 24px;
}

.state-box1 {
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 4px;
    width: 100%;
}

.state-box2 {
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 4px;
    width: 100%;
    height: 400px;
}

.state-box1 p {
    font-size: 17px;
    color: rgb(210, 208, 208);
    border-bottom: 1px solid rgba(128, 128, 128, 0.452);
    background-color: #151515;
    padding: 10px 5px;
    margin-top: 1px;
}

/* Dashboard Token */
.dash-token p {
    color: white;
    font-size: 15px;
    margin-bottom: 1px;
}

.dash-token span {
    color: rgb(129, 129, 129);
    ;
    font-size: 10px;
}

.dashboardTokens {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboardToken {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 4px;
}

table{
    width: 100%;
    text-align: left
}

table thead tr th{
padding: 20px 10px;
}
.imgtable{
    display: flex;
    align-items: center;
}